$width-desktop: 1024px;
$width-tablet: 768px;

$brown: rgb(195,165,117);
$lightbrown: rgb(232,221,202);
$orange: rgb(252,183,49);
$blue: rgb(0,175,236);
$green: rgb(179,209,67);
$darkgreeen: rgb(100,123,34);
$grey: rgb(109,111,113);


@font-face {
  font-family: LatoBlack;
  src: url("./font/Lato-Black.ttf");
}

@font-face {
  font-family: Anton;
  src: url("./font/Anton-Regular.ttf");
}

@font-face {
  font-family: LatoRegular;
  src: url("./font/Lato-Regular.ttf");
}